# YNAB API Configuration
YNAB_API_TOKEN=your_ynab_api_token_here
BUDGET_ID=your_budget_id_here

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
TO_EMAIL=recipient@example.com

# Report Configuration
INCLUDED_GROUPS=Essential,Medical,Non-Essential,Quality of Life,Wishful Savings
REPORT_PATH=c:/YNAB Reports
RETAIN_REPORT_DAYS=30
